html, body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

*{
  box-sizing: border-box;
}

body{
  background: #262626;
}

.canvas-container{
  padding: 1em;
}

#canvas{
  position: absolute;
  background: #29ce9a;
  translate: 50%, 50%;
}
